version: '3.8'

services:
  orangefinance:
    container_name: "api"
    depends_on:
      - postgres
      - cache
      - rabbitmq
      - seq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
    networks:
      - app_network

  postgres:
    image: postgres:18
    container_name: "postgres"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "postgresPassword"
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    networks:
      - app_network
    volumes:
      - pgdata:/var/lib/postgresql/18/main

  jaeger:
    image: jaegertracing/opentelemetry-all-in-one
    container_name: jaeger
    ports:
      - "13133:13133" 
      - "16686:16686"  
      - "4317:4317"    
    restart: unless-stopped
    networks:
      - app_network

  cache:
    image: redis:latest
    container_name: "cache"
    restart: always
    ports:
      - "6379:6379"
    #command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
    volumes:
      - cache:/data
    networks:
      - app_network

  seq:
    image: datalust/seq:latest
    container_name: seq
    ports:
      - "5341:5341"
      - "8090:80"
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINUSERNAME=admin
      - SEQ_FIRSTRUN_ADMINPASSWORD=adolfo123
      - SEQ_ENABLEAUTHENTICATION=true
    volumes:
      - seq-data:/data
      - seq-logs:/logs
    networks:
      - app_network


  rabbitmq:
    image: "rabbitmq:management"
    container_name: "rabbitmq"
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      - app_network
volumes:
  seq-data:
  seq-logs:
  cache:
    driver: local
  rabbitmq_data:
    driver: local
  pgdata:

networks:
  app_network:
    driver: bridge
